{% extends 'base.html.twig' %}

{% block title %}About {{ parent() }}{% endblock %}
{% block stylesheets %}
    <style>
        footer{
           display: none;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="px-2 pt-5 my-3 text-center border-bottom">
        <h1 class="display-4 fw-bold">About Us</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis excepturi ipsam
                nesciunt possimus
                voluptatum! Aperiam ipsam magni repudiandae vero voluptas?</p>
            <p class="lead mb-4">Accusantium aut debitis distinctio est ipsam perspiciatis sequi similique suscipit
                veniam voluptatibus.
                Enim magni maxime necessitatibus odit sequi? Alias, ipsa.</p>
            <img src="{{ asset('img/ban04.jpeg') }}" class="img-fluid border rounded-3 shadow-lg mb-4"
                 alt="Example image" width="700" height="600" loading="lazy">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mx-5">
                <button  type="button" class="btn btn-secondary btn-lg px-4 me-sm-3 mx-2"
                         data-bs-toggle="collapse"
                         data-bs-target="#contact"
                         aria-expanded="false" aria-controls="collapseExample">Nous contacter</button>
            </div>
        </div>

        <div class="collapse" id="contact">
            <main class="container">
                <section class="row">
                    <div class="col-md-8 offset-md-2 my-3">
                        <h2 class="display-4 my-3">Nous contacter</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-outline-dark">Envoyer</button>
                        {{ form_end(form) }}
                    </div>
                </section>
            </main>
        </div>
    </div>

{% endblock %}

