{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/animG.css') }}">
        <link rel="stylesheet" href="{{ asset('css/card-test.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.carousel').slick({
                    slidesToShow: 3,
                    arrows:false,
                    autoplaySpeed: 2000,
                    slidesToScroll:1,
                    dots:false,
                    centerMode: true,
                    draggable: true,
                    respondTo: 'slider',
                    autoplay:true,
                    mobileFirst:true,
                    scroll:1,
                });
            });</script>
    {% endblock %}


    <div class="index">
        <div class="containerb" >
            <canvas id="scene"></canvas>
            <label for="copy"></label>
            <input id="copy" type="text" value="Art-Gallery"/>
        </div>
    </div>

    <div class="container">
        <div class="text-center mt-5 fs-3" id="bord">
        <p class="borderS">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eveniet nulla obcaecati! Accusantium, alias
            aliquam aspernatur atque beatae consequuntur culpa dicta dignissimos dolor dolore doloremque, doloribus
            ducimus eius error excepturi fugit itaque laboriosam magnam modi nemo neque omnis pariatur perspiciatis
            placeat praesentium quas qui, quisquam reprehenderit rerum saepe sapiente tempora tempore temporibus tenetur
            totam vel vitae. Ab aliquid ea eligendi, harum hic impedit numquam quam quidem temporibus voluptate! Cum
            delectus dolores error et exercitationem itaque labore omnis sit totam veniam?</p>
        </div>
    </div>
    <div class="containers mt-5">
        <h2 class="text-center fs-1 mt-4"><a class="text-decoration-none" href="{{ path('paintings') }}">Gallery</a></h2>
    </div>
        <div class="wrapper">
            <div class="carousel">
                {% for paint in paints %}
                    <div>
                        <img src="{{ asset('img/oeuvres/' ~ paint.imageName)|imagine_filter('mini_oeuvre') }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
