{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block body %}

<!-- Latest courses -->
<main class="container">
    <section class="home-courses">
        <h2 class="my-5 text-black-50">Oeuvre</h2>
        <div class="row">
                <div class="col-md-3 mb-4 ">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/1.jpg' ) }}"  >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/2.jpg' ) }}"  >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/3.jpg' ) }}"  >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/4.jpg' ) }}" >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/5.jpg' ) }}" >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>


                <div class="col-md-3">
                    <div class="card">
                        <img alt="" src="{{ asset('img/oeuvres/6.jpg' ) }}"  >
                        <div class="card-body">
                            <h5 class="card-title text-dark">le roi </h5>
                            <p></p>
                            <p class="card-text"></p>
                            <a href="" class="btn btn-secondary btn-sm">En savoir plus...</a>
                        </div>
                    </div>

                </div>

        </div>

    </section>
    <!-- End Latest courses -->
</main>
    {% endblock %}
