{% extends 'base.html.twig' %}
{% block title %}Détail peinture{% endblock %}
{% block body %}

    <main class="container">
        <div class="container">
            <div class="text-center">
                <h2 class="my-5">{{ paint.title|capitalize }}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center ">
                    <div class="text-center my-3 w-100">
                        <img class="card-img align-items-center"
                            style="max-width: 650px; height: auto; box-shadow: rgba(0,0,0,0.89) 0px 2px 4px, rgba(0,0,0,0.6) 0px 7px 13px -3px, rgba(0,0,0,0.56) 0px -3px 0px inset;"
                            src="{{ asset('img/oeuvres/' ~ paint.imageName)|imagine_filter('detail_oeuvre') }}"
                            alt="{{ paint.title }}">
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="card mb-3 my-3  w-100">
                        <div class="card-body my-2 ">
                            <h4 class="card-title">{{ paint.title|capitalize }}
                                {% if is_granted('ROLE_USER') and not app.user.suspendu %}
                                    <span class="mx-5">
                                        <a href="{{ path('paint_like', {id: paint.id}) }}" class="like-link">
                                            <i class="icofont-like"></i>
                                            <span class="like-count-{{ paint.id }}">{{ like }}</span>
                                        </a>
                                    </span>
                                {% endif %}
                            </h4>
            
                            <h5 class="card-subtitle text-muted my-3">Catégorie : {{ paint.categories.name }}</h5>
                            <p class="card-text">{{ paint.descrioption }}
                            <p>
                                Style : {{ paint.style.name }}<br/>
                                Vendeur : {{ paint.vendeur.firstName }}<br/>
                                Taille : {{ paint.width }} x {{ paint.height }}
                            </p>
                            <p class="lead">
                                {% if paint.vendu %}
                                Vendu
                                {% else %}
                                <span style="font-weight: bold ;">Prix</span>
                                : {{ paint.price|format_currency('EUR', locale='fr') }}</p>
                            {% endif %}
                            <p class="card-text"><small class="text-muted">Date de mise en
                                    ligne: {{ paint.createdAt|date('d/m/Y') }}</small></p>
                            <div class="text-center">
                                <button type="button" onclick="window.history.back()" class="btn btn-outline-dark mx-2 ">Retour </button>
                                {% if is_granted('ROLE_USER') %}
                                {% if not app.user.suspendu %}
                                <a href="{{ path('paint_add', {'id': paint.id}) }}" type="button" class="btn btn-outline-dark addToCartButton prof" data-target-id="{{ paint.id }}">Ajouter
                                    au panier</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row mt-5">
            <h3>Commentaire</h3>
            {% for coms in comments %}
                {% if coms.painting.id == paint.id %}
                    <div class="container">

                        <div class="row my-3 ">
                            <div class="col-8 ">
                                <div class="card card-white post pt-3 px-2">
                                    <div class="post-heading">
                                        <div class="float-left meta">
                                            <div class="title h5">
                                                <p class="icofont-user">  {{ coms.user.firstName }} </p>
                                            </div>
                                            <h6 class="text-muted time">Ajouter
                                                le {{ coms.createdAt|date('d/m/Y') }}</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">

                                        <p class="text">{{ coms.content }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}


            <div class="container">

                <button type="button" class="btn btn-secondary mb-3 my-4" data-bs-toggle="collapse"
                        data-bs-target="#Commentaire" aria-expanded="false" aria-controls="Commentaire">
                    Laisser un commentaire
                </button>

            </div>
            {% if is_granted('ROLE_USER') %}
                {% if not app.user.suspendu %}
                    <div class="col fade" id="Commentaire" tabindex="-1" aria-labelledby="commentaire"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="example">Laisser un commentaire</h5>
                                </div>
                                <div class="modal-body">
                                    {{ form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <h4 class="my-4">Vous devez vous connectez pour laisser un commentaire</h4>
                <div class="text-center">
                    <a href="{{ path('app_login') }}" class="btn btn-secondary mb-5 mx-2">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary mb-5">S'enregistrer</a>
                </div>
            {% endif %}
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-link').click(function(e) {
                e.preventDefault();

                var url = $(this).attr('href');

                $.ajax({
                    url: url,
                    method: 'POST',
                    success: function(response) {
                        if (response.success) {
                            var likeCount = response.likeCount;
                            var paintId = response.paintId;

                            // Mettre à jour le compteur de likes
                            $('.like-count-' + paintId).text(likeCount);
                        }
                    },
                    error: function(xhr, status, error) {
                        // Gérer les erreurs ici
                        console.log(error);
                    }
                });
            });

            $('.addToCartButton').click(function(event) {
                event.preventDefault();

                var paintId = $(this).data('target-id');
                addToCart(paintId);
            });
            function addToCart(paintId) {
                var updateUrl = $('#panier').data('update-url');

                $.ajax({
                    url: '/user/add/' + paintId,
                    type: 'POST',
                    dataType: 'html',
                    success: function(response) {
                            location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Erreur lors de l\'ajout au panier', error);
                    }
                });
            }
        });
    </script>
{% endblock %}