{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <img class="card-img my-3"
             style="height: auto; border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"
             src="{{ asset('img/oeuvres/' ~ paint.imageName) }}" alt="{{ paint.title }}">
        <div class="card mb-3 my-3 ">
            <div class="card-body my-2 ">
                <h5 class="card-title">{{ paint.title|capitalize }}</h5>
                <p class="card-text">{{ paint.descrioption }}</p>
                <p class="lead">Style : {{ paint.style.name }}</p>
                <p class="lead">Taille : {{ paint.width }} x {{ paint.height }}</p>
                <p class="card-text"><small class="text-muted">Création: {{ paint.createdAt|date('d/m/Y') }}</small></p>
                <a href="{{ path('paintings') }}" class="btn btn-outline-dark ">retour a la Gallery</a>
            </div>
        </div>
    </div>


    <main class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <h3>Commentaire</h3>
            {% for coms in comments %}
                {% if coms.painting.id == paint.id %}
                    <div class="container">

                        <div class="row my-1">
                            <div class="col-8">
                                <div class="card card-white post">
                                    <div class="post-heading">
                                        <div class="float-left meta">
                                            <div class="title h5">
                                                <p class="text-decoration-underline">Visitor</p>
                                            </div>
                                            <h6 class="text-muted time">{{ coms.createdAt|date('d/m/Y') }}</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p class="text">{{ coms.content }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}


            <div class="container">

                <button type="button" class="btn btn-secondary mb-3 my-4" data-bs-toggle="collapse"
                        data-bs-target="#Commentaire" aria-expanded="false" aria-controls="Commentaire">
                    Laisser un commentaire
                </button>

            </div>

            <div class="col fade" id="Commentaire" tabindex="-1" aria-labelledby="commentaire" aria-hidden="true">
                <div class="modal-dialog mx-3">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="example">Laisser un commentaire</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}