{% extends 'base.html.twig' %}


{% block body %}
    <main class="container">
        <!-- Categories -->
        <section id="courses">
            <h2 class="my-5 text-black-50">Toutes nos catégories</h2>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter ">
                    <ul class="px-0">
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-outline-secondary "> All items</li>
                        <!--variable passée dans le controller-->
                        {% for style in styles %}
                            <li data-filter="{{ style.id }}" class="btn btn-outline-secondary"> {{ style.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- FILTERIZER COURSES -->
                <div class="col-md-12 filter-container " style="overflow: hidden">
                    <!-- Card -->
                    {% for paint in paints %}
                        <div class="col-md-4 filtr-item" data-category="{{ paint.style.id }}" data-sort="value">
                            <div class="card m-3" style="min-height: 480px !important; height: auto;">
                                <div class="card-header bg-light">
                                    <h5 class="text-center">{{ paint.title | capitalize }}</h5>
                                </div>
                                <div class="card-body">
                                    <img alt="" src="{{ asset('img/oeuvres/' ~ paint.imageName) }}"
                                         style="height: 225px;">
                                    <p class="card-text">
                                    <h5 class="card-subtitle text-muted my-3">{{ paint.style.name }}</h5>
                                    <h5 class="card-subtitle text-muted my-3"> Taille : {{ paint.width }}
                                        x {{ paint.height }}</h5>
                                    <p class="card-text"><small
                                                class="text-muted">Création: {{ paint.createdAt|date('d/m/Y') }}</small>
                                    </p>
                                    <div class="text-center">
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ path('paint', {slug: paint.slug}) }}">Détail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}


