{% extends 'base.html.twig' %}


{% block body %}
    <main class="container">
        <!-- Categories -->
        <section id="oeuvres">
            <h2 class="my-5 text-black-50">Toutes nos catégories</h2>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter ">
                    <ul class="px-0">
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-outline-secondary active prof"> All items</li>
                        <!--variable passée dans le controller-->
                        {% for cat in categories %}
                            <li data-filter="{{ cat.id }}" class="btn btn-outline-secondary prof"> {{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- FILTERIZER COURSES -->
                <div class="col-md-12 filter-container " style="overflow: hidden">
                    <!-- Card -->
                    {% for paint in paints %}
                        <div class="col-md-4 col-lg-3 col-sm-6 col-12 filtr-item" data-category="{{ paint.categories.id }}" data-sort="value">
                            <div class="card m-3 text-center" style="min-height: 480px !important; height: auto;">
                                <div class="card-body">
                                    <div class="card-body-image">
                                        <a href="{{ path('paint', {slug: paint.slug}) }}">
                                            <img alt="" src="{{ asset('img/oeuvres/' ~ paint.imageName)|imagine_filter('mini_oeuvre') }}">
                                        </a>
                                    </div>
                                    <div class="text-center card-body-title">
                                        <a href="{{ path('paint', {slug: paint.slug}) }}">
                                            <h5>{{ paint.title | capitalize }}</h5>
                                        </a>
                                    </div>


                                    <p class="card-subtitle text-muted mt-0 mb-3">{{ paint.style.name }}<br/>
                                        Taille : {{ paint.width }} x {{ paint.height }}<br/>
                                        <small class="text-muted">Création: {{ paint.createdAt|date('d/m/Y') }}</small>
                                    </p>


                                    <strong class="card-text">
                                        {% if paint.vendu %}
                                            Vendu
                                        {% else %}
                                            Prix : {{ paint.price|format_currency('EUR', locale='fr') }}
                                        {% endif %}
                                    </strong>


                                    <div class="text-center mt-3">
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ path('paint', {slug: paint.slug}) }}">Détail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                </div>
        </section>
    </main>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
        $('[data-filter]').on('click', function(){
            $('[data-filter]').removeClass('active');
            $(this).addClass('active');
        });

    </script>
{% endblock %}


