{% extends 'base.html.twig' %}

{% block title %}Hello TutorielController!{% endblock %}

{% block body %}
    <main class="container">
        <!-- Categories -->
        <section id="oeuvres">
            <h2 class="my-5 text-black-50">Toutes nos Tutoriels</h2>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter ">
                    <ul class="px-0">
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-outline-secondary filter-item active"> All items</li>
                        <!--variable passée dans le controller-->
                        {% for cat in categories %}
                            <li data-filter="{{ cat.id }}" class="btn btn-outline-secondary  filter-item"> {{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- FILTERIZER Tutoriels -->
                <div class="col-md-12 filter-container " >
                    <!-- Card -->
                    {% for tuto in tutorials %}
                        <div class="col-lg-3 col-md-4 col-sm-6 filtr-item" data-category="{{ tuto.style.id }}" data-sort="value">
                            <div class="card m-3">
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="card-body-image">
                                            <img alt="image of tutorials" src="{{ asset('img/tutos/' ~ tuto.image)|imagine_filter('mini_oeuvre') }}" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="card-body-title">
                                        <h5 class="text-center">{{ tuto.title | capitalize }}</h5>
                                    </div>

                                    <p class="card-text">
                                        <small class="text-muted">
                                            {% if tuto.description|length > 200 %}
                                                {{ tuto.description|slice(0, 200) ~ '...' }}    
                                            {% else %}
                                                {{ tuto.description }}    
                                            {% endif %}
                                        </small>
                                    </p>


                                    <div class="text-center">
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ path('tuto', {slug: tuto.slug}) }}">Détail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>

        resizeCardText(true);
        $(window).on('resize', function(){
            if($(window).width() >= 576) {
                resizeCardText(true);
            } else {
                resizeCardText(false);
            }
        })
        
        function resizeCardText(application) {
            
            $('.card-text').css({'height' : 'auto'})
            var maxheight = 0;
            var currentHeight = 0;
            $('.card-text').each(function(){
                currentHeight = $(this).height();
                if(currentHeight > maxheight) {
                    maxheight = $(this).height();
                }
            })
            if(application) {
                $('.card-text').height(maxheight);
            } else {
                $('.card-text').css({'height' : 'auto'});
            }
            

        }
        
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
        $('.filter-item').click(function () {
            $('.filter-item').removeClass('active');
            $(this).addClass('active');
        });
    </script>
{% endblock %}

