{% extends 'admin/base.html.twig' %}

{% block title %}Courses{{ parent() }}{% endblock %}

{% block body %}

    <h4 class="my-5 text-muted">Gestion des Utilisateurs</h4>

    <table id="table-admin" class="table table-hover ">
        <thead>
        <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Suspendre</th>
            <th>CreatedAT</th>



        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td><img src="{{ asset('img/avatar/' ~ user.imageName) }}" alt="{{ user.firstname }} "
                         style="width: 60px; height: 60px"></td>
                <td>{{ user.firstname|capitalize }}</td>
                <td>{{ user.lastname|capitalize }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% set admin = false %}
                {% for role in user.roles %}
                        {% if role is same as 'ROLE_USER' %}
                           Utilisateur
                        {% elseif role is same as 'ROLE_SELLER' %}
                            Vendeur
                        {% elseif role is same as 'ROLE_ADMIN' %}
                            Admin
                        {% elseif role is same as 'ROLE_SUPER_ADMIN' %}
                            {% set admin = true %}
                            Super Admin
                        {% endif %}
                {% endfor %}
                </td>

                <td class="text ajax-link px-3">
                    {% if admin %}
                            admin
                    {% else %}
                        <a href="{{ path('app_admin_hideUser', {id: user.id}) }}" class="px-2 ajax-trigger" data-id="{{ user.id }}">
                            <i class="icofont-skull-danger{% if user.suspendu %} text-danger{% else %} text-success{% endif %} "></i>
                        </a>
                    {% endif %}
                </td>

                <td>{{ user.createdAt | date('d/m/Y')}}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.ajax-trigger').on('click', function(event) {
                event.preventDefault();

                var link = $(this);
                var url = link.attr('href');
                var id = link.data('id'); // Récupérer la valeur de l'attribut data-id

                $.ajax({
                    url: url,
                    method: 'GET',
                    data: { id: id }, // Passer l'identifiant en tant que paramètre dans la requête
                    success: function(response) {
                        console.log('Requête AJAX réussie');
                        var visibility = response.visibility;
                        var icon = link.find('.icofont-skull-danger');

                        if (visibility) {
                            icon.removeClass('text-success').addClass('text-danger');
                        } else {
                            icon.removeClass('text-danger').addClass('text-success');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Erreur lors de la requête AJAX');
                    }
                });
            });
        });
    </script>
{% endblock %}