{% extends 'base.html.twig' %}


{% block body %}
    <main class="container">
        <section id="posts">
            <div class="row">
                <h2 class="py-3">Liste des Peintures Admin [<a href="{{ path('new') }}"><i class="icofont-plus"></i></a>]
                </h2>
            </div>

            <div class="col-md-10 offset-1">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <td>Image</td>
                        <td>Title</td>
                        <td>Date de création</td>
                        <td>Style</td>
                        <td>Delete</td>
                        <td>Edit</td>
                        <td class="text-center">Commentaire</td>

                    </tr>
                    </thead>
                    <tbody>

                    {% for paint in paints %}
                        <tr>
                            <td><img src="{{ asset('/img/oeuvres/' ~ paint.imageName) }}" alt="{{ paint.title }}"
                                     class="img-post"></td>
                            <td><a href="{{ path('paint', {slug: paint.slug}) }} ">{{ paint.title|capitalize }}</a></td>
                            <td>{{ paint.createdAt|date('d/m/Y') }}</td>
                            <td>{{ paint.style.name }}</td>
                            <td><a href="{{ path('delete',{id:paint.id}) }}) }}"><i
                                            class="icofont-ui-delete text-danger"></i></a></td>
                            <td><a href="{{ path('edit', {id:paint.id}) }}"><i class="icofont-edit-alt"></i></a></td>

                                {% if comment != null  %}
                                    <td class="text-center"><a href="{{ path('comment',{id:paint.id}) }}"><i
                                                    class="icofont-comment"></i></a></td>
                                {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
    </main>

{% endblock %}

