{% extends 'base.html.twig' %}


{% block body %}

    <main class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tableau</th>
                <th scope="col">commentaire</th>
                <th scope="col">Visibilité</th>

            </tr>
            </thead>
            <tbody>

            {% for coms in paints.comment %}
            <tr>

                <td>{{ paints.title }}</td>



                   <td> {{ coms.content }} </td>
                    {% if coms.isPubliched %}
                    <td class="text"><a href="{{ path('publish',{id:coms.id}) }}"><i class="icofont-eye text-success fs-2"></i></a></td>
                    {% else %}
                        <td class="text"><a href="{{ path('publish',{id:coms.id}) }}"><i class="icofont-eye text-danger fs-2"></i></a>
                        </td>
                    {% endif %}
                {% endfor %}
               {#  <td>{{paints.comment.content }}</td>

                {% if  paints.comment.isPubliched %}
                    <td class="text"><a href="{{ path('publish',{id:paints.comment.id}) }}"><i
                                    class="icofont-eye text-success"></i></a></td>
                {% else %}
                    <td class="text"><a href="{{ path('publish',{id:paints.comment.id}) }}"><i class="icofont-eye text-danger"></i></a>
                    </td>
                {% endif %}

               #}
            </tr>



            </tbody>
        </table>

                <a href="{{ path('admin') }}" class="btn btn-outline-dark"> retour </a>
            </div>
        </div>
    </main>


{% endblock %}
