{% extends 'admin/base.html.twig' %}


{% block body %}
    <h4 class="my-5 text-muted">Gestion des Tableaux</h4>

    <table id="table-admin" class="table table-hover ">
        <thead>
        <tr>
            <td>Image</td>
            <td>Title</td>
            <td>Date de création</td>
            <td>Style</td>
            <td>Slider</td>
            <td>Hide</td>
            {# <td>Edit</td> #}
            <td class="text-center">Commentaire</td>

        </tr>
        </thead>
        <tbody>

        {% for paint in paints %}
            <tr>
                <td><img src="{{ asset('/img/oeuvres/' ~ paint.imageName)|imagine_filter('mini_oeuvre') }}"
                         alt="{{ paint.title }}"
                         style="width: 60px; height: 60px;"></td>
                <td><a href="{{ path('paint', {slug: paint.slug}) }} ">{{ paint.title|capitalize }}</a></td>
                <td>{{ paint.createdAt|date('d/m/Y') }}</td>
                <td>{{ paint.style.name }}</td>
                <td>
                    <a href="{{ path('app_admin_slider', {'id': paint.id}) }}"
                       class="update-selection btn btn-outline-secondary ajax-link"
                    >

                        {{ paint.selected ? 'Désélectionner' : 'Sélectionner' }}
                    </a>
                </td>
                <td>
                    {% if paint.vendu %}
                        <a href="{{ path('app_admin_hide',{id:paint.id}) }}) }}">
                            <i class="icofont-eye{% if paint.published %} text-success{% else %}text-danger{% endif %}"></i>
                        </a>
                    {% else %}
                        <p>-</p>
                    {% endif %}
                </td>
                {# <td><a href="{{ path('app_admin_edit', {id:paint.id}) }}"><i class="icofont-edit-alt"></i></a></td> #}
                <td class="text-center">

                    {% set hasComment = false %}
                    {% set commentCount = 0 %}
                    {% set commentCountPu = 0 %}

                    {% for coms in comment %}
                        {% if paint.id is same as (coms.painting.id) %}
                            {% set commentCount = commentCount + 1 %}

                            {% set hasComment = true %}
                            {% if not coms.isPubliched %}
                                {% set commentCountPu = commentCountPu + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if hasComment %}
                        <a href="{{ path('app_admin_comment',{id:paint.id}) }}">
                            {% if commentCountPu > 0 %}
                                <i class="icofont-comment text-danger"></i> {{ commentCountPu }}
                            {% else %}
                                <i class="icofont-comment text-success"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        ...
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.ajax-link').on('click', function (event) {
                event.preventDefault();

                var link = $(this); // Stocker la référence à l'élément .ajax-link
                var url = link.attr('href');
                var isSelected = link.data('selected');
                console.log(isSelected);
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (response) {
                        console.log('Requête AJAX réussie');

                        isSelected = response.selected === true ? 1 : 0;

                        // Update the button text based on the new isSelected value
                        var buttonText = isSelected === 1 ? 'Désélectionner' : 'Sélectionner';
                        link.text(buttonText);

                        // Update the data-selected attribute with the new isSelected value
                        link.data('selected', isSelected);


                    },
                    error: function (xhr, status, error) {
                        console.error('Erreur lors de la requête AJAX');
                    }
                });
            });
        });
    </script>


{% endblock %}

