{% extends 'admin/base.html.twig' %}


{% block body %}

    <table id="table-admin" class="table table-hover ">
            <thead>
            <tr>
                <th scope="col">Tableau</th>
                <th scope="col">commentaire</th>
                <th scope="col">Visibilité</th>

            </tr>
            </thead>
            <tbody>

            {% for coms in paints.comment %}
            <tr>

                <td>{{ paints.title }}</td>


                <td> {{ coms.content }} </td>
                {% if coms.isPubliched %}
                    <td class="text"><a href="{{ path('app_admin_publish',{id:coms.id}) }}" class="text-decoration-none"><i
                                    class="icofont-eye text-success fs-2 mx-3"></i></a></td>
                {% else %}
                    <td class="text"><a href="{{ path('app_admin_publish',{id:coms.id}) }}" class="text-decoration-none"><i
                                    class="icofont-eye text-danger fs-2 mx-3"></i></a>
                    </td>
                {% endif %}
                <td><a href="{{ path('app_admin_delecom', { id:coms.id }) }}"> <i class="icofont-ui-delete"></i></a>
                </td>
                {% endfor %}

            </tr>


            </tbody>
        </table>

        <a href="{{ path('app_admin_paint') }}" class="btn btn-outline-dark"> retour </a>




{% endblock %}
