{% extends 'base.html.twig' %}

    {% block title %}{{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

    {% block body %}
        <main class="container my-5">
            <div class="row profile">
                <div class="col-md-4">
                    <img src="img/avatar/{{ app.user.imageName }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="" style="width: 100%; height: 100%;">
                </div>
                <div class="col-md-8">
                    <h2>{{ app.user.firstName }} {{ app.user.lastName }}</h2>
                    <div class="my-3">
                        <a href="{{ path('app_edit_profile') }}" class="btn btn-dark">Modifier mon compte</a>
                    </div>
                    <p>Votre Email: {{ app.user.email }}</p>
                    <p>Création du compte: {{ app.user.createdAt|date('d/m/Y') }}</p>
                    <p>Mise à jour du compte: {{ app.user.updatedAt|date('d/m/Y') }}<p>
                    <p>Status:
                        {#{% for role in app.user.roles %}
                            {{ role | capitalize | replace({'_': ' '}) }} #}{# remplacer le souligner de la db par un espace avec le filtre replace #}{#
                        {% endfor %}#}
                    </p>
                </div>
            </div>
        </main>
    {% endblock %}
