{% extends 'base.html.twig' %}

    {% block title %}{{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

    {% block body %}

        <main class="container my-5">
            <h3>Votre profile</h3>
            <div class="row profile">
                <div class="col-md-4">
                    <img src="img/avatar/{{ app.user.imageName }}"
                         alt="{{ app.user.firstName }} {{ app.user.lastName }}"
                         class="" style="width: 75%; height: 85%;">
                </div>
                <div class="col-md-8">
                    <h2>{{ app.user.firstName }} {{ app.user.lastName }}</h2>
                    <div class="my-3">
                        <a href="{{ path('app_edit_profile') }}" class="btn btn-secondary">Modifier mon compte</a>
                    </div>
                    <p>Votre Email: {{ app.user.email }}</p>
                    <p>Création du compte: {{ app.user.createdAt|date('d/m/Y') }}</p>
                    <p>Mise à jour du compte: {{ app.user.updatedAt|date('d/m/Y') }}<p>
                    <p>Status:
                        {% for role in app.user.roles %}
                            {{ role | capitalize | replace({'_': ' '}) }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <hr>
        </main>

        <section class="container">
            <h3 class="mx-2">Tableau liké</h3>
            <div class="col-md-12 filtr-container">
                <div class="row">
                    {% for paint in paintings %}
                        <div class="col-md-4">
                            <div class="card m-3">
                                <img src="{{ asset('img/oeuvres/' ~ paint.imageName)|imagine_filter('mini_oeuvre') }}"
                                     class="card-img-top"
                                     alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ paint.title | capitalize }}</h5>
                                    <p class="card-text">Prix
                                        : {{ paint.price|format_currency('EUR', locale='fr') }}</p>
                                    <div class="text-center">
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ path('paint', {slug: paint.slug}) }}">Détail</a>
                                        <a href="{{ path('paint_add', {'id': paint.id}) }}" type="button"
                                           class="btn btn-outline-dark btn-sm">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% if is_granted('ROLE_SELLER') %}
            <section class="container">

                <h3 class="mx-2">Tableau mis en vente</h3> <a href="{{ path('app_admin_new') }}">Ajouter un Tableau</a>
                <div class="col-md-12 filtr-container">
                    <div class="row">
                        {% for paint in vendeur %}
                            <div class="col-md-4">
                                <div class="card m-3">
                                    <img src="{{ asset('img/oeuvres/' ~ paint.imageName)|imagine_filter('mini_oeuvre') }}"
                                         class="card-img-top"
                                         alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ paint.title | capitalize }}</h5>
                                        <p class="card-text text-muted ">
                                            {% if paint.vendu %}
                                            Vendu
                                            {% else %}
                                            Prix
                                            : {{ paint.price|format_currency('EUR', locale='fr') }}</p>
                                            {% endif %}
                                        <div class="text-center">
                                            <a class="btn btn-secondary btn-sm"
                                               href="{{ path('paint', {slug: paint.slug}) }}">Détail</a>
                                            <a href="{{ path('app_seller_vendu', {'id': paint.id}) }}" type="button"
                                               class="btn btn-outline-dark btn-sm">Vendu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endblock %}
